#missao {
  font-size: 20px;
}

header {
  background-color: rgb(157, 197, 202);
  padding: 20px 0;
}

header img {
  width: 15%;
}

.box-index {
  position: relative;
  width: 940px;
  margin: 0 auto;
}


p {
  text-align: center;
}

.titulo-centralizado {
  text-align: center;
}

.titulo-principal {
  padding-left: 20px;
}

em strong {
  color: red;
}

#banner {
  width: 100%;
}


.itens {
  font-size: 16px;
  font-style: italic;
}

.beneficios {
  background: white;
  padding: 20px;
}

h2 {
  text-align: center;
}

.principal {
  background: #CCCCCC;
  padding: 30px;
}

.space{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.image-beneficios {
  width: 50%;
  
}

nav {
  position: absolute;
  top: 95px;
  right: 0;
}
nav li {
  display: inline;
  margin: 0 0 0 15px;
}
nav a {
  text-transform: uppercase;
  color: black;
  font-weight: 600;
  font-size: 18px;
  margin-right: 1.4rem;
  text-decoration: none;
}

nav a:hover {
  color: aliceblue;
  background-color: rgb(125, 153, 156);
  padding: 4px 6px;
  border: none;
  border-radius: 5px;
}

footer {
  text-align: center;
  background-color: rgb(157, 197, 202);
  padding: 20px 0;
  margin-top: 42px;
}

footer img {
  width: 7%;
}

.copy-index {
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  color: white;
} 